@page
@model ContractMonthlyClaimSystem.Pages.Users.SignUpSuccessModel
@{
    ViewData["Title"] = "Sign Up Successful";
}

<h2>Sign Up Successful</h2>
<p>Thank you for signing up! You can now <a href="/Users/Login">log in</a>.</p>
