html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.hero {
	background-image: url('/images/hero-background.jpg');
	background-size: cover; /* Cover the entire div */
	background-position: center; /* Center the image */

	.btn:hover {
		background-color: var(--bs-primary); /* Bootstrap primary color */
		color: var(--bs-light); /* Bootstrap light color */
		border-color: var(--bs-primary); /* Change border to primary as well */
	}
}
